@media(min-width:320px){
    @font-face {
        font-family: Anton;
        src: url(./fonts/Anton-Regular.ttf);
    }
    @font-face {
        font-family:cerebri_sans;
        src: url("./fonts/CerebriSansPro-Regular.ttf");
        
    }
    @font-face {
        font-family:cerebri_sans_m;
        
        src: url("./fonts/CerebriSansPro-Medium.ttf");
    }
    @font-face {
        font-family:cerebri_sans_eb;
        
        src: url("./fonts/CerebriSansPro-ExtraBold.ttf");
    }

    body{
       
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:cerebri_sans;
        overflow-x: hidden;
        
    }
  
    #bookApointment{
        margin: 0 auto;
       width: 200px;
       padding: 12px 0 12px 0;
        background-color: #ffffff;
        margin-bottom: 20px;
    }
    #bookApointment a{
        text-decoration: none;
        color: #1676dc;
    }
    #seeSuites{
        margin: 0 auto;
        width: 200px;
        padding: 12px 0 12px 0;
         background-color: #ffffff;
        border: 1px solid #1676dc;;
        margin-bottom: 20px;
    }
    #seeSuites a{
   text-decoration: none;
   color: #1676dc;
    }
    .short_line{
        width: 70px;
        color: beige;
    }
    .line{
        width: 170px;
        color: beige;
    }
    header{
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    .logo{
        width:200px;
        text-align: center;
        padding: 5px 0px 5px 0px;
        
    }
    #top{
        font-family: Anton;
        letter-spacing: 2px;
        color: rgb(40, 39, 39);
    }
    #down{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:#619bd9;
    }
 

    #image_area img{
        display: block;
      max-width: 100vw;
      height: auto;
    
     
    }
    #image_area{
       
        width:100vw;
        
        overflow: hidden;
        
    }
    
    
    #image_text{
        display: flex;
        overflow: hidden;
        justify-content: center;
        text-align: center;
        width:100vw;
        height:auto;
        background-color: #619bd9;
        

    }
 
    #image_text .image_text_first_child{
        padding-top: 15px;
        width:90vw;
        background-color: #619bd9;
        color: white;
        
    }
    #image_text .image_text_first_child h1{
        text-align: center;
    }
 
    #section2{
        display: flex;
        
        text-align: center;
        justify-content: center;
        width: 100vw;
        background-color: rgb(255, 255, 255);
    }
    #section2 .section2_first_child{
        width: 90vw;
        padding-top: 20px;
        color: rgb(62, 62, 62);
        background-color: rgb(255, 255, 255);
    }
    #section2 .section2_first_child{
        font-size: larger;
    }
    .hold_img_div{
        background-color: unset;
        display: flex;
        justify-content: center;
    }
    .call_to_actions .img_div img{
        width: 70px;
        height: auto;
        
        
    }
    .call_to_actions .img_div {
    
    background-color: rgb(127, 185, 255);
    border: 2px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 20px 0 20px 0;
    }
    .call_to_actions{
        
        background-color: unset;
        
    }
    .call_to_actions .text{
        width: 90vw;
        text-align: center;
        color: rgb(37, 37, 37);
        margin-bottom: 15px;
        
    }
    .cta{
        display: flex;
        justify-content: center;
        background-color: rgb(127, 185, 255);
        
    }
    .locationTab{
        
        width: 100vw;
        height: auto;
        background-color: #1a1a1a;
        color: #ffffff;
    }
    .locationTab .visit{
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .book{
        
            margin: 0 auto;
           width: 300px;
           padding: 12px 0 12px 0;
            background-color: #ffffff;
            /* margin-bottom: 20px; */
      
    }
    .book a{
        
        text-decoration: none;
        color: #1676dc;
    }
    .image_gallery{
        text-align: center;
        width: 100vw;
        height: auto;
        background-color: white;
        font-size: x-large;
        padding: 20px 0px 20px 0px;
    }
    .image_gallery hr{
        color: rgba(148, 148, 148, 0.366);
        width: 100px;
        border: 1px solid rgba(148, 148, 148, 0.366);
        margin-top: -20px;
    }

    .suits_pictures{
        display: flex;
        flex-wrap: wrap;
       
    }
    .suits_pictures img{
        width: 300px;
        height: auto;
        
        
    }
    .suits_pictures .suit1_img{
        width: 300px;
        height: 200px;
        border-radius: 3px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 10px;
       
    }
    .indochino_news{
        margin: 0 auto;
        width: 100vw;
        height: auto;
        background: #363535;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0;
    }
    #h3_1{
        margin-bottom: 20px;
    }
    #h3_2{
        
        font-size:small;
        text-align: center;
        
    }
    .indochino_news #true_suit{
        text-align: center;
        font-weight: bold;
        width: 100vw;
        font-size:x-large;
        margin: 0 auto;
        padding-top: 20px;
    }
    .indochino_news #forbes{
        margin-top: 30px;
        text-align: center;
        margin-bottom: 15px;
    }
    #bookAnAppointment2{
        margin: 0 auto;
text-align: center;
background-color: white;
width: 200px;
padding: 10px 5px 10px 5px;
    }
    #bookAnAppointment2 a{
        color: #1676dc;
        text-decoration: none;
            }
    footer{
        background-color: white;
    }
    .social_icons img{
        width: 22px;
        height: auto;
        margin-left: 6px;
        margin-top: 10px;
        margin-bottom: 30px;
        
    }

    .social_icons{
        margin: 0 auto;
       
        width: 100px;
    }
    .copyright_section{
        text-align: center;
        color: #7e7e7e;
        margin-bottom: 30px;
    }
    .terms_and_condition{
      
        margin-bottom: 50px;
text-align: center;
    }
    .terms_and_condition a{
        color: #7e7e7e;
        text-decoration: none;
     
    }
}



@media (min-width: 622px){
    .suits_pictures{
        display: flex;
        width: 622px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .indochino_news #true_suit{
    width: 400px;
}
.main_one{
    display: flex;
}
#image_area img{
    max-width: 50vw;
    height: auto;
  }
  #image_text{
    position: relative;

}
  #image_text .image_text_first_child{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:40vw;
    background-color: #619bd9;
    color: white;
}
.call_to_actions{
    display:flex;
}
.call_to_actions .text{
    width: 25vw;
    margin: 0 5px 15px 10px;
    text-align: center;
    
}
 }
 @media (min-width: 1024px) { 
    .suits_pictures{
        display: flex;
        flex-wrap: wrap;
        width: 920px;
    }
  
}
/*@media (min-width: 768px) { }
@media (min-width: 1024px) { }
@media (min-width: 1280px) { }
@media (min-width: 1536px) { }
*/

